@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #ffffff;
  --textColor: #1a1a1a;
  --primary: #de1352;
  --primaryHover: #c41042;
  --secondary: #2991d6;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  margin: 0;
}
